language: python

sudo: false

python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7-dev"
  - "pypy"
  - "pypy3.5"
  - "nightly"

matrix:
  fast_finish: true
  allow_failures:
  - python: "nightly"

before_install:
  - sudo apt-get -y install python3-pip python3-setuptools
  - sudo pip3 install flit

install:
  - pip install --upgrade pytest flit6
  - flit install

script:
  - PYTHONPATH=. pytest

notifications:
  email: false
